{% extends "front.twig" %}

{% block title %}
    <title>{{ game.getName }} | LISTaGAME</title>
{% endblock %}

{% set commentsOnPage = false %}

{% set cover = true %}

{% block cover %}
    <div class="background_game_image container-fluid" style="background-image: url('{{ HOST }}public/images/covers/cover_game_id_{{ game.getId }}.{{ game.getCover_extension }}')"></div>
{% endblock %}

{% block content %}

    <h1>{{ game.getName }}</h1>

    <p>Développeur(s) :<br>
        {% for developer in developers %} 
            <p>- {{ developer.getName }}</p>
        {% endfor %}
    </p>

    <p>Genre(s) :<br>
        {% for genre in genres %} 
            <p>- {{ genre.getName }}</p>
        {% endfor %}
    </p>

    <p>Mode(s) de jeu :<br>
        {% for mode in modes %} 
            <p>- {{ mode.getName }}</p>
        {% endfor %}
    </p>

    <p>Sorties :<br>
        {% for release in releases %} 
            <p>- Sur {{ release.getPlatform }}, édité par {{ release.getPublisher }} - {{ release.getRegion }} - {{  release. getReleaseDate }}</p>
        {% endfor %}
    </p>

    <p>{{ game.getContent|raw }}</p>

    {% if connected %}

        <hr>

        <h4 id="anchorGame" class="anchor">Ajouter un commentaire</h4>

        <form method="post" action="{{ HOST }}add-comment">

            <div class="form-group">
                <input type="hidden" name="game-id" value="{{ game.getId }}" />
            </div>

            <div class="form-group">
                <input type="hidden" name="member_id" value="{{ member.getId }}" />
            </div>

            <div class="form-group">
                <input type="hidden" name="author" value="{{ member.getNick_name }}" />
            </div>

            <div class="form-group">
                <label for="content">Votre commentaire :</label>
                <textarea class="form-control" id="content" name="content" rows="5"></textarea>
            </div>
        
            <input type="submit" value="Envoyer" class="btn btn-primary" />

        </form>

    {% endif %}

    <hr>

    {% for comment in comments %}

        <div class="comment container">

            <div class="row">
            
                <p class="col-12 authorCommentBloc bg-secondary"><span id="commentAuthor{{ member.getId }}" class="font-weight-bold">{{ comment.getAuthor }}</span> (publié le {{ comment.getCreationDate }})</p>
                <p class="col-12 textComment">{{ comment.getContent }}</p>
                <div class="col-12 commentButtonBloc d-flex justify-content-end">
        
                <a href="{{ HOST }}report-comment/id/{{ comment.getId }}/post-id/{{ game.getId }}">
                    <button type="button" class="btn btn-warning btn-sm">Signaler</button>
                </a>
        

                    <a class="ml-2" href="{{ HOST }}valid-comment/id/{{ comment.getId }}/post-id/{{ game.getId }}">
                        <button type="button" class="btn btn-success btn-sm">Publier</button>
                    </a>
        

                    <button type="button" class="btn btn-danger btn-sm ml-2" data-toggle="modal" data-target="#deleteModal" data-author="{{ comment.getAuthor }}" data-url="{{ HOST }}delete-comment/id/{{ comment.getId }}/post-id/{{ game.getId }}">Supprimer</button>

                </div>
            </div>
        </div>

    {% endfor %}

    {% if commentsOnPage and renderPagination %}
        {{ pagination.render }}
    {% elseif not commentsOnPage %}
        <p>Il n'y a actuellement aucun commentaire</p>
    {% endif %}

{% endblock %}