{% extends "front.twig" %}

{% block title %}
    <title>{{ game.getName }} | LISTaGAME</title>
{% endblock %}

{% block content %}

    <h1>{{ game.getName }}</h1>

    <p>Développeur(s) :<br>
        {% for developer in developers %} 
            <p>- {{ developer.getName }}</p>
        {% endfor %}
    </p>

    <p>Genre(s) :<br>
        {% for genre in genres %} 
            <p>- {{ genre.getName }}</p>
        {% endfor %}
    </p>

    <p>Mode(s) de jeu :<br>
        {% for mode in modes %} 
            <p>- {{ mode.getName }}</p>
        {% endfor %}
    </p>

    <p>Sorties :<br>
        {% for release in releases %} 
            <p>- Sur {{ release.getPlatform }}, édité par {{ release.getPublisher }} - {{ release.getRegion }} - {{  release. getReleaseDate }}</p>
        {% endfor %}
    </p>

    <p>{{ game.getContent|raw }}</p>
    <hr>
{% endblock %}