
{% extends "front.twig" %}

{% block title %}
    <title>Accueil | LISTaGAME</title>
{% endblock %}

{% block content %}

    {% set elementsOnPage = false %}

    {% for game in games %} 

        {% set elementsOnPage = true %}

        <div class="listGames">
            
            <div class="background_game_image_home container" style="background-image: url('{{ HOST }}public/images/covers/cover_game_id_{{ game.getId }}.{{ game.getCover_extension }}')"></div>
            <h3>
                <a href="{{ HOST }}game/id/{{ game.getId }}">{{ game.getName }}</a>
            </h3>
            <p>
                {{ game.getContent|raw }}<br>
                <a href="{{ HOST }}game/id/{{ game.getId }}">Voir la suite</a>
            </p>

        </div>

        <hr>

    {% endfor %}

    {% if not elementsOnPage %}
        <p>Il n'y a actuellement aucun article</p>
    {% endif %}

{% endblock %}
