{% extends "front.twig" %}

{% block title %}
    <title>Résultats pour la recherche | LISTaGAME</title>
{% endblock %}

{% set dots = '...' %}

{% block content %}

<h1>Résultat de la recherche</h1>

<p>Résultats trouvés pour "{{ searchedGame }}"</p>

<hr>
 
{% if games %}

    {% for game in games %}
        <div>
            <a href="{{ HOST }}game/id/{{ game.getId }}" class="searchLink">{{ game.getName }}</a>
            <p>{{ game.getContent|striptags|slice(0, 300)|raw}}{{ dots }}</p>
        </div>
    {% endfor %}

{% else %}

    <p>La recherche n'a donné aucun résultat.</p>

{% endif %}

<hr>

{% endblock %}