{% extends "front.twig" %}

{% block title %}
    <title>Résultats pour la recherche | LISTaGAME</title>
{% endblock %}

{% set dots = '...' %}

{% block content %}

<h1>Résultat de la recherche</h1>

<p>Résultats trouvés pour "{{ searchedGame }}"</p>

<hr>

{% for game in games %}
    <div class="row">
        <div class="col">
            <a href="{{ HOST }}game/id/{{ game.getId }}" class="searchLink">{{ game.getName }}</a>
            <p>{{ game.getContent|striptags|slice(0, 300)|raw}}{{ dots }}</p>
        </div>
    </div>
    <hr>
{% endfor %}

{% endblock %}