{% extends "comparison.twig" %}

{% block title %}
    <title>Modifications à valider | LISTaGAME</title>
{% endblock %}

{% block script %}
    {% for jsFile in jsFiles %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">

            <div class="background_game_image_comparison container-fluid" style="background-image: url('{{ HOST }}public/images/covers/cover_game_id_{{ game.getId }}.{{ game.getCover_extension }}')"></div>

            <h1>{{ game.getName }}</h1>

            <div><span class="bold">Développeur(s) :</span><br>
                {% for developer in developers %} 
                    <p>- {{ developer.getName }}</p>
                {% endfor %}
            </div>

            <div><span class="bold">Genre(s) :</span><br>
                {% for genre in genres %} 
                    <p>- {{ genre.getName }}</p>
                {% endfor %}
            </div>

            <div><span class="bold">Mode(s) de jeu :</span><br>
                {% for mode in modes %} 
                    <p>- {{ mode.getName }}</p>
                {% endfor %}
            </div>

            <div><span class="bold">Sortie(s) :</span><br>
                {% for release in releases %} 
                    <p>- Sur {{ release.getPlatform }}, édité par {{ release.getPublisher }} - {{ release.getRegion }} - {{  release. getReleaseDate }}</p>
                {% endfor %}
            </div>

            <div><span class="bold">Description :</span><br>
                <div>{{ game.getContent|raw }}</div>
            </div>
        </div>
        <div class="col-lg-6">

            {% if updatedCover %}

                <div class="background_game_image_comparison container-fluid" style="background-image: url('{{ HOST }}public/images/covers/temp/cover_game_id_{{ game.getId }}.{{ updatedGame.getCover_extension }}')"></div>

            {% else %}

                <div class="background_game_image_comparison container-fluid noImage d-flex justify-content-center align-items-center">Aucune modification d'image.</div>

            {% endif %}

            <h1 {% if  game.getName != updatedGame.getName %} class="redBackground" {% endif %}>
                {{ updatedGame.getName }}   
            </h1>

            <!-- Create arrays with original games informations -->
            <!-- Create an array with developers names -->
            {% set developersNames = [] %}
            {% for developer in developers %} 
                {% set developersNames = developersNames|merge([developer.getName]) %}
            {% endfor %}

            <!-- Create an array with genres names -->
            {% set genresNames = [] %}
            {% for genre in genres %} 
                {% set genresNames = genresNames|merge([genre.getName]) %}
            {% endfor %}

            <!-- Create an array with modes names -->
            {% set modesNames = [] %}
            {% for mode in modes %} 
                {% set modesNames = modesNames|merge([mode.getName]) %}
            {% endfor %}

            <!-- Create an array with release dates platforms -->
            {% set releasesPlatforms = [] %}
            {% for release in releases %} 
                {% set releasesPlatforms = releasesPlatforms|merge([release.getPlatform]) %}
            {% endfor %}

            <!-- Create an array with release dates publishers -->
            {% set releasesPublishers = [] %}
            {% for release in releases %} 
                {% set releasesPublishers = releasesPublishers|merge([release.getPublisher]) %}
            {% endfor %}

            <!-- Create an array with release dates regions -->
            {% set releasesRegions = [] %}
            {% for release in releases %} 
                {% set releasesRegions = releasesRegions|merge([release.getRegion]) %}
            {% endfor %}

            <!-- Create an array with release dates -->
            {% set releasesDates = [] %}
            {% for release in releases %} 
                {% set releasesDates = releasesDates|merge([release.getReleaseDate]) %}
            {% endfor %}

            <div><span class="bold">Développeur(s) :</span><br>
                {% for updatedDeveloper in updatedDevelopers %} 

                    {% if updatedDeveloper.getName in developersNames %}
                        <p>
                            - {{ updatedDeveloper.getName }}
                        </p>
                    {% else %} 
                        <p class="redBackground">
                            - {{ updatedDeveloper.getName }}
                        </p>
                    {% endif %}

                {% endfor %}
            </div>

            <div><span class="bold">Genre(s) :</span><br>
                {% for updatedGenre in updatedGenres %} 

                    {% if updatedGenre.getName in genresNames %}
                        <p>
                            - {{ updatedGenre.getName }}
                        </p>
                    {% else %} 
                        <p class="redBackground">
                            - {{ updatedGenre.getName }}
                        </p>
                    {% endif %}

                {% endfor %}
            </div>

            <div><span class="bold">Mode(s) de jeu :</span><br>
                {% for updatedMode in updatedModes %} 

                    {% if updatedMode.getName in modesNames %}
                        <p>
                            - {{ updatedMode.getName }}
                        </p>
                    {% else %} 
                        <p class="redBackground">
                            - {{ updatedMode.getName }}
                        </p>
                    {% endif %}

                {% endfor %}
            </div>

            <div><span class="bold">Sortie(s) :</span><br>
                {% for updatedRelease in updatedReleases %} 

                    {% if updatedRelease.getPlatform in releasesPlatforms
                       and updatedRelease.getPublisher in releasesPublishers
                       and updatedRelease.getRegion in releasesRegions
                       and updatedRelease.getReleaseDate in releasesDates %}
                        <p>
                            - Sur {{ updatedRelease.getPlatform }}, édité par {{ updatedRelease.getPublisher }} - {{ updatedRelease.getRegion }} - {{  updatedRelease. getReleaseDate }}
                        </p>
                    {% else %} 
                        <p class="redBackground">
                            - Sur {{ updatedRelease.getPlatform }}, édité par {{ updatedRelease.getPublisher }} - {{ updatedRelease.getRegion }} - {{  updatedRelease. getReleaseDate }}
                        </p>
                    {% endif %}

                {% endfor %}
            </div>

            <div><span class="bold">Description :</span><br>
                <div {% if  game.getContent != updatedGame.getContent %} class="redBackground" {% endif %}>
                    {{ updatedGame.getContent|raw }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{{ HOST }}validate-update-by-member/id/{{ game.getId }}" class="mr-3">
                    <button type="button" class="btn btn-primary">Accepter les modifications</button>
                </a>
                <a href="#" data-url-delete-updated-game="{{ HOST }}delete-update-by-member/id/{{ game.getId }}" id="gameDeleteBtn" data-updated-game-name="{{ game.getName }}" data-toggle="modal" data-target="#deleteModal">
                    <button type="button" class="btn btn-danger">Refuser les modifications</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}