{% extends "back.twig" %}

{% block title %}
    <title>Ajout et modification d'un jeu | LISTaGAME</title>
{% endblock %}

{% block content %}

<h1>Ajouter un jeu</h1>
<hr>
    <form method="post" action="{{ HOST }}add-game">
        <div class="form-group">
            <label for="name">Le titre du jeu :</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Titre">
        </div>

        <div class="form-group">
            <label>Description du jeu :</label>
            <textarea id="tinymcetextarea" name="content"></textarea>
        </div>

        <hr>
        
        <h4>Le ou les développeur(s) du jeu :</h4>
        <div>
            <div class="entity-group-game-edit">
                <div class="form-group bloc-entity-game-edit" >
                    <a href="#" class="cross-cancel"><i class="fas fa-times-circle fa-2x cross-game-edit"></i></a>
                    <select name="developer[1]" class="form-control developerList mb-2">
                            <option selected>Choisissez un développeur</option>
                        {% for developer in developers %}
                            <option value="{{ developer.getId }}">{{ developer.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-primary addEntityForm">Ajouter un développeur</button>
        </div>
        <hr>
        
        <h4>Le ou les genre(s) du jeu :</h4>
        <div>
            <div class="entity-group-game-edit">
                <div class="form-group bloc-entity-game-edit" >
                    <a href="#" class="cross-cancel"><i class="fas fa-times-circle fa-2x cross-game-edit"></i></a>
                    <select name="genre[1]" class="form-control genreList mb-2">
                            <option selected>Choisissez un genre</option>
                        {% for genre in genres %}
                            <option value="{{ genre.getId }}">{{ genre.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-primary addEntityForm">Ajouter un genre</button>
        </div>
        <hr>

        
        <h4>Le ou les mode(s) du jeu :</h4>
        <div>
            <div class="entity-group-game-edit">
                <div class="form-group bloc-entity-game-edit" >
                    <a href="#" class="cross-cancel"><i class="fas fa-times-circle fa-2x cross-game-edit"></i></a>
                    <select name="mode[1]" class="form-control modeList mb-2">
                            <option selected>Choisissez un mode</option>
                        {% for mode in modes %}
                            <option value="{{ mode.getId }}">{{ mode.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-primary addEntityForm">Ajouter un mode</button>
        </div>
        <hr>

        <h4>La ou les dates de sorties :</h4>
        <p>Pour valider une date vous devez sélectionner un support, un éditeur, une région et une date.</p>
        <div>
            <div class="entity-group-game-edit">
                <div class="form-group bloc-entity-game-edit" >
                    <a href="#" class="cross-cancel-release"><i class="fas fa-times-circle fa-2x cross-game-edit"></i></a>
                    <select name="releaseDate[1]" class="form-control releaseDateList mb-2">
                            <option selected>Choisissez un support</option>
                        {% for platform in platforms %}
                            <option value="{{ platform.getId }}">{{ platform.getName }}</option>
                        {% endfor %}
                    </select>
                    <select name="releaseDate[1]" class="form-control releaseDateList mb-2">
                            <option selected>Choisissez un éditeur</option>
                        {% for publisher in publishers %}
                            <option value="{{ publisher.getId }}">{{ publisher.getName }}</option>
                        {% endfor %}
                    </select>
                        <select name="releaseDate[1]" class="form-control releaseDateList mb-2">
                            <option selected>Choisissez une région</option>
                        {% for region in regions %}
                            <option value="{{ region.getId }}">{{ region.getName }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control date" name="releaseDate" id="datepicker1" placeholder="Choisissez une date" readonly>
                </div>
            </div>

            <button type="button" class="btn btn-primary" id="addReleaseDateForm">Ajouter une date</button>
        </div>
        <hr>

        <button type="submit" class="btn btn-primary">Valider</button>

    </form>

{% endblock %}