{% extends "back.twig" %}

{% block title %}
    <title>Demandes pour être modérateur | LISTaGAME</title>
{% endblock %}

{% set elementsOnPage = false %}

{% block content %}

    <h1>Demandes pour être modérateur</h1>

    <p>Liste des membres souhaitant accéder au statut de modérateur.</p>

    <div class="table-responsive tableMargin" id="table-dev">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Date d'inscription</th>
                        <th scope="col">Accepter</th>
                        <th scope="col">Refuser</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for membersRequest in membersRequests %}
    
                        {% set elementsOnPage = true %}
    
                        <tr>
                            <td>{{ membersRequest.getNick_name }}</td>
                            <td>{{ membersRequest.getInscription_date }}</td>
                            <td><a href="{{ HOST }}edit-game/id/{{ game.getId }}" id="updateGame">Accepter</a></td>
                            <td><a href="#" data-url-delete-game="{{ HOST }}delete-game/id/{{ game.getId }}" id="gameDeleteBtn" data-game-name="{{ game.getName }}" data-toggle="modal" data-target="#deleteModal">Refuser</a></td>
                        </tr> 
    
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

    {% if elementsOnPage and renderPagination %}
        {{ pagination.render }}
    {% elseif not elementsOnPage %}
        <p>Il n'y a actuellement aucun membre souhaitant être modérateur.</p>
    {% endif %}

    {% if actionDone %}
        <div class="alert alert-success alert-dismissible fade show actionErrorMessage fixed-bottom" role="alert">
            {{ actionDone }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

{% endblock %}